@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221 47% 23%;
    --primary-foreground: 210 40% 98%;
    --secondary: 221 41% 32%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221 47% 23%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ol-control {
  background: none !important;
  padding: 0 !important;
}

.ol-zoom {
  top: 0.5rem !important;
  left: 0.5rem !important;
}

.ol-zoom button {
  background-color: white !important;
  color: #666 !important;
  border: 2px solid rgba(0,0,0,0.2) !important;
  border-radius: 4px !important;
  width: 30px !important;
  height: 30px !important;
  font-size: 18px !important;
  margin: 2px !important;
}

.ol-zoom button:hover {
  background-color: #f4f4f4 !important;
}